<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<form action="#" th:action="@{/addnewplayer}" th:object="${newPlayer}" method="post">
    <input type="text" placeholder="Janika27" th:field="*{name}">
    <button type="submit">ADD PLAYER</button>
</form>
<form action="#" th:action="@{/api/game}" method="post">
    <div th:each="player:${players}">
        <label th:for="${player.id}" th:text="${player.name}"></label>
        <input type="checkbox" th:value="${player.id}" th:id="${player.id}" th:checked="true">
    </div>
    <button type="submit">LET'S GET WASTED!</button>
</form>
</body>
</html>